<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- Canonical -->
<link rel="canonical" href="">
<title>Full Slider Layout - Scoop Themes Template</title>
<!-- Main Styles CSS -->
<link href="css/main.css" rel="stylesheet">
<style>
.post-body img {
box-shadow: 0px 0px 15px 15px white; /* Shadow */
color: white;
border-radius: 50%; /* Rounded border */
border:0;
padding:0;
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
}
.post-body img:hover {
box-shadow: 0 white; /* With this we remove the shadow (value 0) */
border-radius: 0; /* This removes the border roundness (value 0) */
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
cursor:pointer;

}
.img-responsive{width: 100%; height: 100%}
</style>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
 <style>
.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;
background-color: #ff9000;
}

.back-to-top i {
  font-size: 60px;
}
</style>
<script>
jQuery(document).ready(function() {
    var offset = 250;
    var duration = 300;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
        } else {
            jQuery('.back-to-top').fadeOut(duration);
        }
    });

    jQuery('.back-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: $("#point1").offset().top -30 }, duration);
        return false;
    })
});
</script>
</head>
<!-- /.nav-wrapper -->
<br><br><br>
<div id="mainCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
<li data-target="#mainCarousel" data-slide-to="1"></li>
<li data-target="#mainCarousel" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox" style="witdh: 90%">
<div class="item active" style="width: 100%; height: 600px; background-repeat: no-repeat; background-size: 100%">
<%= link_to user_profile_path(@user_last_list[0], @profile_list[0]) do %>
	<div class="container">
                        <div class="row slide-margin">
                        	<div class="col-sm-4 animation animated-item-4" >
                                <div class="post-body" style="height: 90%">
                                    <img src="<%= @profile_list[0].avatar%>" class="img-circle" style="width:328px;height:528px;">
                                </div>                               
                            </div>
                            <div class="col-sm-6">
                                <div class="carousel-content" style="align:center;font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
        font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0px;
    text-align: center;
    text-transform: uppercase; witdh: 80%;">
                                    <h1 class="animation animated-item-1" style="color:black">Name: <%=@profile_list[0].name%></h1>
                                    <h2 class="animation animated-item-2" style="color:black">Email: <%=@user_last_list[0].email%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Age: <%=@profile_list[0].age%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Profession: <%=@profile_list[0].profession%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Experience: <%=@profile_list[0].exp%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Hobbies: <%=@profile_list[0].hobbies%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Desc: <%=@profile_list[0].desc%></h2>                               
                                </div>
                            </div>

                        </div>
                    </div>
<% end %>
<div class="carousel-caption" style="color: red;">Newest Profile
</div>
</div>
<div class="item" style="width: 100%; height: 600px; background-repeat: no-repeat; background-size: 100%">
<%= link_to user_profile_path(@user_last_list[1], @profile_list[1]) do %>
	<div class="container">
                        <div class="row slide-margin">
                        	<div class="col-sm-4 animation animated-item-4" >
                                <div class="post-body" style="height: 90%">
                                    <img src="<%= @profile_list[1].avatar%>" class="img-circle" style="width:328px;height:528px;">
                                </div>                               
                            </div>
                            <div class="col-sm-6">
                                <div class="carousel-content" style="align:center;font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
        font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0px;
    text-align: center;
    text-transform: uppercase;; witdh: 80%;">
                                    <h1 class="animation animated-item-1" style="color:black">Name: <%=@profile_list[1].name%></h1>
                                    <h2 class="animation animated-item-2" style="color:black">Email: <%=@user_last_list[1].email%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Age: <%=@profile_list[1].age%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Profession: <%=@profile_list[1].profession%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Experience: <%=@profile_list[1].exp%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Hobbies: <%=@profile_list[1].hobbies%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Desc: <%=@profile_list[1].desc%></h2>                                 
                                </div>
                            </div>

                        </div>
                    </div>
<% end %>2
<div class="carousel-caption" style="color: red;">Newest Profile
</div>
</div>
<li><button class="back-to-top" style="display: inline;" value="TOpdfghdthhdrhrhrdh" ></li>
<div class="item" style="width: 100%; height: 600px; background-repeat: no-repeat; background-size: 100%">
<%= link_to user_profile_path(@user_last_list[2], @profile_list[2]) do %>
	<div class="container">
                        <div class="row slide-margin">
                        	<div class="col-sm-4 animation animated-item-4" >
                                <div class="post-body" style="height: 90%">
                                    <img src="<%= @profile_list[2].avatar%>" class="img-circle" style="width:328px;height:528px;">
                                </div>                               
                            </div>
                            <div class="col-sm-6">
                                <div class="carousel-content" style="align:center;font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
        font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0px;
    text-align: center;
    text-transform: uppercase; witdh: 80%;">
                                    <h1 class="animation animated-item-1" style="color:black">Name: <%=@profile_list[2].name%></h1>
                                    <h2 class="animation animated-item-2" style="color:black">Email: <%=@user_last_list[2].email%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Age: <%=@profile_list[2].age%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Profession: <%=@profile_list[2].profession%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Experience: <%=@profile_list[2].exp%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Hobbies: <%=@profile_list[2].hobbies%></h2>
                                    <h2 class="animation animated-item-2" style="color:black">Desc: <%=@profile_list[2].desc%></h2>                                 
                                </div>
                            </div>

                        </div>
                    </div>
<% end %>
<div class="carousel-caption" style="color: red;">Newest Profile
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
</div>
<div class="container" id="point1"><h1> New Photo Images </h1>
<div class="section">
<div class="row">
<div class="col-md-3">
<a href="#" class="thumbnail">
<%= image_tag @album_last_list[0].albumimages.last.imgname_url, :style => "witdh: 300px; height: 200px" %>
</a>
<h3><%=@album_last_list[0].albname %></h3>
<p><%=@album_last_list[0].desc %></p>
<%= link_to "Take a look", user_profile_album_path(@album_user_list[0], @album_profile_list[0],@album_last_list[0]), :class => "btn btn-primary btn-sm" %>
</div>
<div class="col-md-3">
<a href="#" class="thumbnail">
<%= image_tag @album_last_list[1].albumimages.last.imgname_url, :style => "witdh: 300px; height: 200px" %>
</a>
<h3><%=@album_last_list[1].albname %></h3>
<p><%=@album_last_list[1].desc %></p>
<%= link_to "Take a look", user_profile_album_path(@album_user_list[1],@album_profile_list[1],@album_last_list[1]), :class => "btn btn-primary btn-sm" %>
</div>
<div class="col-md-3">
<a href="#" class="thumbnail">
<%= image_tag @album_last_list[2].albumimages.last.imgname_url, :style => "witdh: 300px; height: 200px" %>
</a>
<h3><%=@album_last_list[2].albname %></h3>
<p><%=@album_last_list[2].desc %></p>
<%= link_to "Take a look", user_profile_album_path(@album_user_list[2],@album_profile_list[2],@album_last_list[2]), :class => "btn btn-primary btn-sm" %>
</div>
<div class="col-md-3">
<a href="#" class="thumbnail">
<%= image_tag @album_last_list[3].albumimages.last.imgname_url, :style => "witdh: 300px; height: 200px" %>
</a>
<h3><%=@album_last_list[3].albname %></h3>
<p><%=@album_last_list[3].desc %></p>
<%= link_to "Take a look", user_profile_album_path(@album_user_list[3],@album_profile_list[3],@album_last_list[3]), :class => "btn btn-primary btn-sm" %>
</div>
</div>
</div>
<!-- /.section -->
<hr>
<div class="section">
<div class="row">
<div class="col-md-7">
<h1>Font Awesome Is There</h1>
<p>Font Awesome is included and from MaxCDN <span class="fa fa-heart"></span></p>
</div>
<div class="col-md-5">
<img src="http://placehold.it/450x200" class="img-responsive" alt="">
</div>
</div>
</div>
<!-- /.section -->
<hr>
<footer>
<div class="copy-rights clearfix">
<div class="pull-left">
All Copy Rights Reserved For YourCompany 201*
</div>
<div class="pull-right">
by <a href="http://scoopthemes.com">Scoop Themes</a>
</div>
</div>
</footer>
</div>
<!-- /.container -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- Custom JavaScript -->
<script src="js/custom.js"></script>
<!-- Call functions on document ready -->
<script>
$(document).ready(function() {
// Call Functions Like
appMaster.aFunction();
// Call anotherFunction
appMaster.anotherFunction();
});
</script>
</body>
</html>