<br><br><br>
<script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('#img_prev')
              .attr('src', e.target.result)
              .width(150)
              .height(200);
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
<%= form_for(@album, :html => {:class => "form-horizontal center", :multipart => true}, url: user_profile_albums_path) do |f| %>
		<% @album.profile_id = @this_profile.id %>
      <div class="form-group">
        <%= f.label :albname, "Album name:", class: "col-md-3 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :albname, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :imgname, "Avatar:", class: "col-md-3 control-label" %>
        <div class="col-md-8">
          <%= f.file_field :imgname, :multiple => true, :onchange => "readURL(this);", name: "albumimages[imgname][]" %>
          <img id="img_prev" src="#" alt="your image" />
        </div>
      </div>

      <div class="form-group">
        <%= f.label :desc, "Desciption:", class: "col-md-3 control-label" %>
        <div class="col-md-8">
          <%= f.text_area :desc, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
      <div class="col-md-6"></div>
      <%= f.submit "Create", class: "btn btn-primary" %>  
      </div>
 <% end %>
<div class="form-group">
      <div class="col-md-6"></div>
      <%= link_to 'Back', user_profile_albums_path, class: "col-md-6" %> 
</div>