<p>
  <strong>Album: </strong>
  <%= @this_album.albname %>
</p>

<% @albumimages.each do |p| %>
  <%= image_tag p.imgname_url %>
  <h1>Comments</h1>
<div id="reviews">
 <%= render :partial => p.albimgcoms %>
</div>

<% if current_user.present?%>
  <div id="comment">
   <%= form_for([@this_user, @this_profile, @this_album, p, p.albimgcoms.build]) do |f| %>
    <p>
     <br>
      <%= f.text_area :content, id: "texarea_comment" %>
    </p>   

    <p><%= f.submit "Create comment",  id: "botton", class: "btn btn-success green" %></p>
  <% end %>
  </div>
<% else%>
  <p><%= link_to "Please sign in to comment!", new_user_session_path%><p>
<% end%>
  <%= link_to "Edit Photo", edit_user_profile_album_path(@this_user, @this_profile, @this_album) if current_user && current_user.id == @this_user.id%>
<% end %>
<%= link_to 'Back', user_profile_albums_path %>